<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Auto created by codeAppend plugin -->
<mapper namespace="com.gejian.pixel.mapper.NewStoreGoodsMapper">

    <resultMap id="NewStoreGoodsRM" type="com.gejian.pixel.entity.NewStoreGoods">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="desc" column="desc"/>
    </resultMap>

    <!-- all sql columns -->
    <sql id="columns">
         `id`,`name`,`desc`
	</sql>
	<select id="selectPageByQuery" resultType="com.gejian.pixel.entity.ext.StorePageDO">
		SELECT
			items,good_fomula AS goodFomula,type,id,prefix,`from`,`to`
		FROM
			store_view
		<where>
			<if test="type != null ">
				AND type = #{type}
			</if>
			<if test="skill != null and skill.size > 0 or soul != null and soul.size > 0 or exp != null and exp.size > 0 or count > 0">
				AND ( 1 = 1
			</if>
			<if test="skill != null and skill.size > 0">
				AND prefix = 'book_skill'
				<foreach collection="skill" item="item" open="AND (" close=")" separator="OR">
					`from` &lt;= #{item} and `to` &gt;= #{item}
				</foreach>
			</if>
			<if test="soul != null and soul.size > 0">
				<choose>
					<when test="skill != null and skill.size > 0">OR</when>
					<otherwise>AND</otherwise>
				</choose>
				prefix = 'private_soulchip'
				<foreach collection="soul" item="item" open="AND (" close=")" separator="OR">
					`from` &lt;= #{item} and `to` &gt;= #{item}
				</foreach>
			</if>
			<if test="exp != null and exp.size > 0">
				<choose>
					<when test="skill != null and skill.size > 0 or soul != null and soul.size > 0">OR</when>
					<otherwise>AND</otherwise>
				</choose>
				prefix = 'exp_book'
				<foreach collection="exp" item="item" open="AND (" close=")" separator="OR">
					`from` &lt;= #{item} and `to` &gt;= #{item}
				</foreach>
			</if>
			<if test="count > 0">
				<choose>
					<when test="skill != null and skill.size > 0 or soul != null and soul.size > 0 or exp != null and exp.size > 0">OR</when>
					<otherwise>AND</otherwise>
				</choose>
				prefix = 'gold'
			</if>
			<if test="skill != null and skill.size > 0 or soul != null and soul.size > 0 or exp != null and exp.size > 0 or count > 0">
				)
			</if>

		</where>
		LIMIT  #{size} , #{current}
	</select>
	<select id="selectCountByQuery" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
		store_view
		<where>
		<if test="type != null ">
			AND type = #{type}
		</if>
		<if test="skill != null and skill.size > 0 or soul != null and soul.size > 0 or exp != null and exp.size > 0 or count > 0">
			AND ( 1 = 1
		</if>
			<if test="skill != null and skill.size > 0">
				AND prefix = 'book_skill'
				<foreach collection="skill" item="item" open="AND (" close=")" separator="OR">
					`from` &lt;= #{item} and `to` &gt;= #{item}
				</foreach>
			</if>
			<if test="soul != null and soul.size > 0">
				<choose>
					<when test="skill != null and skill.size > 0">OR</when>
					<otherwise>AND</otherwise>
				</choose>
				 prefix = 'private_soulchip'
				<foreach collection="soul" item="item" open="AND (" close=")" separator="OR">
					`from` &lt;= #{item} and `to` &gt;= #{item}
				</foreach>
			</if>
			<if test="exp != null and exp.size > 0">
				<choose>
					<when test="skill != null and skill.size > 0 or soul != null and soul.size > 0">OR</when>
					<otherwise>AND</otherwise>
				</choose>
				prefix = 'exp_book'
				<foreach collection="exp" item="item" open="AND (" close=")" separator="OR">
					`from` &lt;= #{item} and `to` &gt;= #{item}
				</foreach>
			</if>
			<if test="count > 0">
				<choose>
					<when test="skill != null and skill.size > 0 or soul != null and soul.size > 0 or exp != null and exp.size > 0">OR</when>
					<otherwise>AND</otherwise>
				</choose>
				prefix = 'gold'
			</if>
		<if test="skill != null and skill.size > 0 or soul != null and soul.size > 0 or exp != null and exp.size > 0 or count > 0">
			)
		</if>

		</where>
	</select>
	<select id="selectnewStoreGoodsList" resultType="com.gejian.pixel.entity.NewStoreGoods">
		SELECT
			id,
			NAME,
			`desc`
		FROM
			new_store_goods
		WHERE
			id LIKE concat( #{goodPrefix} ,"%")
			AND substring_index( id, '_', - 1 ) BETWEEN #{from} AND #{to}
	</select>

	<select id="selectViewById"  resultType="com.gejian.pixel.entity.ext.StorePageDO">
		select * from store_view where id = #{id}
	</select>

</mapper>