<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Auto created by codeAppend plugin -->
<mapper namespace="com.gejian.pixel.mapper.PromotionTypeNameMapper">

    <resultMap id="PromotionTypeNameRM" type="com.gejian.pixel.entity.PromotionTypeName">
		<result property="type" column="type"/>
		<result property="name" column="name"/>
		<result property="q" column="q"/>
		<result property="group" column="group"/>
		<result property="groupName" column="group_name"/>
    </resultMap>

    <!-- all sql columns -->
    <sql id="columns">
         `type`,`name`,`q`,`group`,`group_name`
	</sql>

</mapper>