<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Auto created by codeAppend plugin -->
<mapper namespace="com.gejian.pixel.mapper.PromotionMapper">

    <resultMap id="PromotionRM" type="com.gejian.pixel.entity.Promotion">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="key" column="key"/>
		<result property="type" column="type"/>
		<result property="desc" column="desc"/>
		<result property="compareType" column="compare_type"/>
		<result property="parameter" column="parameter"/>
		<result property="precondition" column="precondition"/>
		<result property="next" column="next"/>
		<result property="award" column="award"/>
		<result property="percent" column="percent"/>
    </resultMap>

    <!-- all sql columns -->
    <sql id="columns">
         `id`,`title`,`key`,`type`,`desc`,`compare_type`,`parameter`,`precondition`,`next`,`award`,`percent`
	</sql>

</mapper>