<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Auto created by codeAppend plugin -->
<mapper namespace="com.gejian.pixel.mapper.PromotionMapper">

    <resultMap id="PromotionRM" type="com.gejian.pixel.entity.Promotion">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="key" column="key"/>
		<result property="type" column="type"/>
		<result property="desc" column="desc"/>
		<result property="compareType" column="compare_type"/>
		<result property="parameter" column="parameter"/>
		<result property="precondition" column="precondition"/>
		<result property="next" column="next"/>
		<result property="award" column="award"/>
		<result property="percent" column="percent"/>
    </resultMap>

    <!-- all sql columns -->
    <sql id="columns">
         `id`,`title`,`key`,`type`,`desc`,`compare_type`,`parameter`,`precondition`,`next`,`award`,`percent`
	</sql>

	<sql id="pageQuery">
		from promotion p left join promotion_type_name t on p.`type` = t.`type`
		<where>
			<if test="q.title != null and q.title != ''">
				and p.title like concat('%',#{q.title},'%')
			</if>
			<if test="q.type != null">
				and p.type = #{q.type}
			</if>
		</where>
	</sql>

	<select id="selectActivityPage" resultType="com.gejian.pixel.dto.activity.ActivityPageDTO">
		select p.*,concat(t.group_name,'-',t.name) as `typeName`,REPLACE(p.`desc`,'%d',p.parameter) as `condition`
		<include refid="pageQuery"/>
		limit #{start},#{size}
	</select>

	<select id="selectActivityCount" resultType="long">
		select count(1)
		<include refid="pageQuery"/>
	</select>

	<select id="selectActivityRefrence" resultType="long">
		select count(1) from promotion
		where precondition = #{id} or `next` = #{id}
	</select>
	<select id="selectByIdToDTO" resultType="com.gejian.pixel.dto.activity.ActivityDetailDTO">
		select p.*,t.`name` as typeName,t.`group`,t.group_name as  groupName from promotion p left join promotion_type_name t on p.`type` = t.`type`
		where p.id = #{id}
	</select>
</mapper>