<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Auto created by codeAppend plugin -->
<mapper namespace="com.gejian.pixel.mapper.PvpBasicMapper">

    <resultMap id="PvpBasicRM" type="com.gejian.pixel.entity.PvpBasic">
		<result property="id" column="id"/>
		<result property="rangeMin" column="range_min"/>
		<result property="rangeMax" column="range_max"/>
		<result property="range" column="range"/>
    </resultMap>

    <!-- all sql columns -->
    <sql id="columns">
         `id`,`range_min`,`range_max`,`range`
	</sql>

</mapper>