<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Auto created by codeAppend plugin -->
<mapper namespace="com.gejian.pixel.mapper.SkillScriptSkillMapper">

    <resultMap id="SkillScriptSkillRM" type="com.gejian.pixel.entity.SkillScriptSkill">
		<result property="id" column="id"/>
		<result property="description" column="description"/>
		<result property="effect" column="effect"/>
		<result property="icon" column="icon"/>
		<result property="action" column="action"/>
		<result property="levels" column="levels"/>
		<result property="logic" column="logic"/>
		<result property="name" column="name"/>
    </resultMap>

    <!-- all sql columns -->
    <sql id="columns">
         `id`,`description`,`effect`,`icon`,`action`,`levels`,`logic`,`name`
	</sql>

</mapper>